<style>
    .body-background {
        background-image: url('./assets/dist/img/login-background.png');
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center right;
    }
    .login-box-background {
        background: #4594D1 !important;
    }
    .logo-sized{
    width: 100px;
    }
    .brand-centered{
        text-align: center !important;
    }
    .text-colored{
        color: #fff;
    }
    .text-biggered{
        font-size: 20px;
    }
    .btn-colored{
        background-color: #E52629;
    }
    .link-colored{
        color: #fff;
    }
</style>

<body class="hold-transition login-page body-background">
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline login-box-background">
    <div class="card-header text-center">
        <img src="./assets/dist/img/neps-logo.png" alt="AdminLTE Logo" class="logo-sized brand-centered">
    </div>
    <div class="card-body">
        <p class="login-box-msg text-colored text-biggered"><strong>Recuperemos tu Cuenta</strong></p>
        <p class="login-box-msg text-colored">Ingresa tu correo electrónico</p>
        <form (ngSubmit)="forgetPassword()" [formGroup]="forgetPasswordForm">
        <div class="input-group mb-3">
        <input type="email" class="form-control" formControlName="email"  placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
            <button type="submit" class="btn btn-primary btn-block btn-colored" [disabled]="forgetPasswordForm.invalid">Siguiente</button>
            </div>
            <!-- /.col -->
            <div class="col-4">
            <button (click)="loginBack()"  class="btn btn-primary btn-block" style="border-color: #fff; white-space: nowrap; background-color: #fff; color: #E52629;">Volver</button>
            </div>
            <!-- /.col -->
        </div>
        </form>
        <!-- /.social-auth-links -->
    </div>
    <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
    <!-- /.login-box -->
</body>