<style>
    .links-colored {
        color: #fff;
    }

    .background-colored {
        background-color: #E52629;
        border-radius: 5px 5px 0px 0px;
    }

    .btn-colored {
        border-color: #4594D1;
        background-color: #4594D1;
        height: 110%;
    }

    .header-colored {
        background-color: #4594D1;
        color: #fff;
        text-align: center;
    }

    .centered-table {
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
    }
</style>
<section class="content">
    <div class="container-fluid">

        <div class="card card-primary">
        <div class="card-body">

            <div class="form-group">
                <div class="input-group input-group-lg">
                    <input type="search" class="form-control form-control-lg" placeholder="ID Usuario">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-lg btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <form id="quickForm">
                <div class="card-body p-0">
                    <table class="table table-sm centered-table">
                        <thead class="header-colored">
                            <tr>
                                <td>ID Usuario</td>
                                <td>Documento</td>
                                <td>Fecha Creación</td>
                                <td>Perfil</td>
                                <td>Estado</td>
                                <td>Acciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>cristian.garcia</td>
                                <td>1005719878</td>
                                <td>
                                    2023-05-01 05:00:00
                                </td>
                                <td>root</td>
                                <td>ACTIVO</td>
                                <td>INGRESO</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    </div>
</section>