<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead class="header-colored">
                            <tr>
                                <th>Tipo Documento</th>
                                <th>Documento Identidad</th>
                                <th>Nombre Asesor Comercial</th>
                                <th>Regional</th>
                                <th>Oficina Base</th>
                                <th>Cargo</th>
                                <th>Total Liquidado</th>
                                <th>Clave Asesor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CC</td>
                                <td>102566522</td>
                                <td>Sandra Bravo Quiceno</td>
                                <td>NorOccidente</td>
                                <td>Rionegro</td>
                                <td>Asesor Comercial</td>
                                <td>$ 12.824.521</td>
                                <td>A982</td>
                            </tr>
                            <tr>
                                <td>CC</td>
                                <td>102566522</td>
                                <td>Andrea Bravo Quiceno</td>
                                <td>NorOccidente</td>
                                <td>Rionegro</td>
                                <td>Asesor Comercial</td>
                                <td>$ 12.824.521</td>
                                <td>A982</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    </div>
</section>