<style>
    .btn-colored {
        border-color: #4594D1;
        background-color: #4594D1;
        height: 110%;
    }

    .commented-btn {
        font-size: 13px;
        color: #818181;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card card-primary">
                    <table style="width:100%;">
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                               

                                <div class="info-box shadow">
                                    <span class="info-box-icon" style="background-color: #4594D1;"><i class="fas fa-file"
                                            style="color:#fff;"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-number">Acta de Validación Liquidación de
                                            Comisiones</span>
                                        <input type="hidden">

                                        <span class="info-box-number">Mes: </span>
                                        <select class="form-control select2 select2-danger"
                                            data-dropdown-css-class="select2-danger" style="width: 100%;">
                                            <option> Enero </option>
                                            <option> Febrero </option>
                                            <option> Marzo </option>
                                            <option> Abril </option>
                                            <option> Mayo </option>
                                            <option> Junio </option>
                                            <option> Julio </option>
                                            <option> Agosto </option>
                                            <option> Septiembre </option>
                                            <option> Octubre </option>
                                            <option> Noviembre </option>
                                            <option> Diciembre </option>
                                        </select>
                                        <br>
                                        <div class="row">
                                            <div class="col-3">
                                                <button type="submit" class="btn btn-primary btn-block btn-colored">
                                                    Generar Reporte <i class=" fas fa-download"> </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.info-box -->
                            </td>
                            <td>&nbsp;</td>
                            <td width="30%">

                                <div class="card">
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0" style="height: 280px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead style="background-color: #4594D1;
                                                        text-align: center;">
                                                <tr>
                                                    <th>Reportes</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <button type="submit" class="btn btn-primary btn-block btn-colored">
                                                            001. Acta de Validación Liquidación de
                                                            Comisiones
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
                <!-- /.col -->
            </div>

        </div>
    </div>
</section>